@use "./modules.scss";
@import "./partials";

.run {
  display: none;
  &--open {
    @include modules.app-window-open(300px, 110px);
  }
  flex-direction: column;
  align-items: center;

  &__head {
    @include modules.app-window-head;
  }

  &__buttons {
    padding-left: 220px;
  }

  &__entry {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
  }
  &__actions {
    margin-top: 10px;
  }
}
